.arrow-action {
    background: url('../img/arrow-action.png') no-repeat;
    max-width: 42px;
    height: 71px;
    position: absolute;
    left: 452px;
    top: 271px;
}

.lasttime {
    color: #fff;
    font-family: 'Segoe Print';
    font-weight: 700;
    font-size: 21px;
    padding-top: 10px;
}

.timer {
    position: relative;
    margin-left: 109px;
    margin-top: 26px;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
}

figure, figcaption {
    display: block;
}

.transition {
    -webkit-transition: top 400ms linear;
    -moz-transition: top 400ms linear;
    -ms-transition: top 400ms linear;
    -o-transition: top 400ms linear;
    transition: top 400ms linear;
}

.timeTo {
    font-family: Tahoma, Verdana, Aial, sans-serif;
    font-size: 28px;
    line-height: 108%;
    font-weight: bold;
    height: 32px;
}

.timeTo span {
    vertical-align: top;
}

.timeTo.timeTo-white div {
    color: black;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 38%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(38%, #ffffff), color-stop(100%, #cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 38%, #cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 38%, #cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 38%, #cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 38%, #cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc', GradientType=0); /* IE6-9 */
}

.timeTo.timeTo-black div {
    color: white;
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #45484d 0%, #000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #45484d 0%, #000000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #45484d 0%, #000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=0); /* IE6-9 */
}

.timeTo.timeTo-black .timeTo-alert {
    background: #a74444; /* Old browsers */
    background: -moz-linear-gradient(top, #a74444 0%, #3f0000 67%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a74444), color-stop(67%, #3f0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a74444 0%, #3f0000 67%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a74444 0%, #3f0000 67%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a74444 0%, #3f0000 67%); /* IE10+ */
    background: linear-gradient(to bottom, #a74444 0%, #3f0000 67%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a74444', endColorstr='#3f0000', GradientType=0); /* IE6-9 */
}

.timeTo.timeTo-white .timeTo-alert {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 35%, #e17373 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #ffffff), color-stop(100%, #e17373)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 35%, #e17373 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 35%, #e17373 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 35%, #e17373 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 35%, #e17373 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e17373', GradientType=0); /* IE6-9 */
}

.timeTo figure {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.timeTo figcaption {
    text-align: center;
    /*font-size: 12px;*/
    line-height: 80%;

    font-weight: normal;
    color: #fff;
}

.timeTo div {
    position: relative;
    display: inline-block;
    /*width: 25px;
    height: 30px;*/
    border-top: 1px solid silver;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    overflow: hidden;
}

.timeTo div.first {
    border-left: 1px solid silver;
}

.timeTo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 3px;
}

.timeTo ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.gift {
    color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 24px;
    position: relative;
}

.gift img {
    position: absolute;
    top: -16px;
    left: -35px;
}

.item {
    margin-top: 26px;
}

.background-tree {
    display: none;
    max-width: 98%;
    opacity: 0.9;
}

@media all and (max-width: 650px) {
    p {
        line-height: 21px;
    }

    .background-tree {
        position: absolute;
        display: inline-block;
    }

    .dd {
        display: none;
    }

    .result-day {
        display: none;
    }

    .first-dots {
        display: none;
    }

    .timer {
        margin-left: 0;
    }

    .ss {
        margin-left: 26px !important;
    }

    .gift img {
        position: inherit;
        top: 0;
        left: 0;
        padding-right: 20px;
    }

    .item {
        margin-left: 45px;
    }

    .lasttime {
        text-align: center;
    }

    .titles {
        text-align: center;
    }

    .hh {
        margin-left: 0 !important;
    }

    .slider-inner h2 {
        line-height: 26px;
        padding-top: 80px;
    }
}

@media all and (max-width: 960px) and (min-width: 750px) {
    .sale {
        position: absolute;
        margin-left: 140px;
        margin-top: 108px;
        width: 60%;
    }
}

@media all and (max-width: 1200px) {
    .sale {
        position: absolute;
        margin-left: 202px;
        margin-top: 113px;
        width: 60%;
    }

    .dd {
        display: none;
    }

    .result-day {
        display: none;
    }

    .first-dots {
        display: none;
    }

    .gift img {
        position: inherit;
        top: 0;
        left: 0;
        padding-right: 20px;
    }

    .lasttime {
        text-align: center;
    }

    .titles {
        text-align: center;
    }

    .timer {
        margin-left: 0;
    }
}